* {
    margin: 0;
    padding: 0;
    color: rgb(170, 87, 87);
}

canvas {
    border: 1px solid black;
    display: block;
    margin: auto;
}

#architect-grid {
    height: 200px;
    width: 80vw;
}

#structures-rotate {
    height: 500px;
    width: 700px;
}

.grid-animations {
    height: 500px;
    width: 500px;
}