* {
    margin: 0;
    padding: 0;
    color: rgb(170, 87, 87);
}

canvas {
    border: 1px solid black;
        display: block;
}

#architect-grid {
    height: 200px;
    width: 80vw;
    margin: auto;
}

#structures-rotate {
    height: 500px;
    width: 700px;
    margin: auto;
}

#structures-animate {
    height: 500px;
    width: 700px;
    margin: auto;
}